body{
    margin: 0px;
}
#body-header{
    height: 65vh;
    opacity: 0.8;
    background-image: url("download.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}